-
  var services = [
    {
      img: '01',
      title: 'Веревочный парк',
      desc: 'Высота 17 метров, уникальные маршруты и трассы различного уровня сложности удовлетворят запросы как начинающих, так и профессиональных скалолазов. Высота 17 метров, уникальные маршруты и трассы различного уровня сложности удовлетворят лвдлыв',
      details: ['6+', 'до 100 кг', 'от 100 см'],
      tags: ['6+', 'до 10 человек', '10+ анимационных программ', 'ведущий', 'праздничное меню'],
    },
    {
      img: '02',
      title: 'Спортивный скалодром',
      desc: 'Высота 17 метров, уникальные маршруты и трассы различного уровня сложности удовлетворят запросы как начинающих, так и профессиональных скалолазов. Высота 17 метров, уникальные маршруты и трассы различного уровня сложности удовлетворят лвдлыв',
      details: ['6+', 'до 100 кг', 'от 100 см'],
      tags: ['6+', 'до 10 человек'],
    },
  ]


section.services.section-top
  .container
    .heading 
      h1.h1 Все развлечения
    .services__list
      for item in services
        .services-card
          .services-card__main
            picture.services-card__img 
              img(src=`./img/services/service-${item.img}.png`, alt=`${item.title}`)
            .services-card__details
              .tags
                for detail in item.details
                  .tag= detail
          .services-card__info
            .services-card__title= item.title
            .services-card__desc= item.desc
            .services-card__bottom 
              .services-card__tags
                .tags 
                  for tag in item.tags
                    .tag= tag
              .services-card__action 
                button(type="button").services-card__add-ticket  
                  span Купить билет
                  +svg(28, 28, 'tickets')
                a(href="#").services-card__link.btn-icon 
                  +svg(24, 24, 'arrow-link')