include include/mixins
.modal-shorts
  button(type="button" data-fancybox-close).modal-shorts__close
    +svg(24, 24, 'close')
  .modal-shorts__inner 
    .container 
      .modal-shorts__slider(data-slider="shorts-slider") 
        .swiper-wrapper
          .swiper-slide.shorts-video(data-video)
            video(src="https://media.istockphoto.com/id/2157626194/video/full-frame-of-bright-green-and-golden-wave-filmed-at-sunrise-while-swimming-in-the-ocean.mp4?s=mp4-640x640-is&k=20&c=okvsc4Z_KRkj_W1sXIdqzQ1MOX1DUzkDoWI1SquZSrg=" data-video-player playsinline controls).shorts-video__player 
            picture.shorts-video__img 
              img(src="./img/shorts/vid-01.png", alt="")
            button(type="button" data-video-play).shorts-video__play-btn.btn-play 
              +svg(36, 36, 'play-arrow')
            .shorts-video__details
              picture.shorts-video__details-img 
                img(src="./img/shorts/author.png", alt="")
              .shorts-video__details-info 
                .shorts-video__details-author Энергия высоты
                .shorts-video__details-date 21 июля в 20:20
            .shorts-video__bottom 
              .shorts-video__info 
                .shorts-video__desc Готовим новые приключения в Энергии Высоты! Ждем тебя каждый день на Софийской, 14 ...
                .shorts-video__views 
                  svg(width="16" height="16") 
                    use(xlink:href=`./img/sprite.svg#eye`)
                  span 1 000 000 086
              a(href="#").shorts-video__link.btn-icon.btn-icon_m
                svg(width=width height=height) 
                  use(xlink:href=`./img/sprite.svg#arrow-forward`)
          .swiper-slide.shorts-video(data-video)
            video(src="https://media.istockphoto.com/id/2157626194/video/full-frame-of-bright-green-and-golden-wave-filmed-at-sunrise-while-swimming-in-the-ocean.mp4?s=mp4-640x640-is&k=20&c=okvsc4Z_KRkj_W1sXIdqzQ1MOX1DUzkDoWI1SquZSrg=" data-video-player playsinline controls).shorts-video__player 
            picture.shorts-video__img 
              img(src="./img/shorts/vid-02.png", alt="")
            button(type="button" data-video-play).shorts-video__play-btn.btn-play 
              +svg(36, 36, 'play-arrow')
            .shorts-video__details
              picture.shorts-video__details-img 
                img(src="./img/shorts/author.png", alt="")
              .shorts-video__details-info 
                .shorts-video__details-author Энергия высоты
                .shorts-video__details-date 21 июля в 20:20
            .shorts-video__bottom 
              .shorts-video__info 
                .shorts-video__desc Готовим новые приключения в Энергии Высоты! Ждем тебя каждый день на Софийской, 14 ...
                .shorts-video__views
                  svg(width="16" height="16") 
                    use(xlink:href=`./img/sprite.svg#eye`)
                  span 1 000 000 086
              a(href="#").shorts-video__link.btn-icon.btn-icon_m
                svg(width=width height=height) 
                  use(xlink:href=`./img/sprite.svg#arrow-forward`)
          .swiper-slide.shorts-video(data-video)
            video(src="https://media.istockphoto.com/id/2157626194/video/full-frame-of-bright-green-and-golden-wave-filmed-at-sunrise-while-swimming-in-the-ocean.mp4?s=mp4-640x640-is&k=20&c=okvsc4Z_KRkj_W1sXIdqzQ1MOX1DUzkDoWI1SquZSrg=" data-video-player playsinline controls).shorts-video__player 
            picture.shorts-video__img 
              img(src="./img/shorts/vid-01.png", alt="")
            button(type="button" data-video-play).shorts-video__play-btn.btn-play 
              +svg(36, 36, 'play-arrow')
            .shorts-video__details
              picture.shorts-video__details-img 
                img(src="./img/shorts/author.png", alt="")
              .shorts-video__details-info 
                .shorts-video__details-author Энергия высоты
                .shorts-video__details-date 21 июля в 20:20
            .shorts-video__bottom 
              .shorts-video__info 
                .shorts-video__desc Готовим новые приключения в Энергии Высоты! Ждем тебя каждый день на Софийской, 14 ...
                .shorts-video__views 
                  svg(width="16" height="16") 
                    use(xlink:href=`./img/sprite.svg#eye`)
                  span 1 000 000 086
              a(href="#").shorts-video__link.btn-icon.btn-icon_m
                svg() 
                  use(xlink:href=`./img/sprite.svg#arrow-forward`)
          .swiper-slide.shorts-video
            picture.shorts-video__img 
              img(src="./img/shorts/vid-01.png", alt="")
            button(type="button").shorts-video__play-btn.btn-play 
              +svg(36, 36, 'play-arrow')
            .shorts-video__details
              picture.shorts-video__details-img 
                img(src="./img/shorts/author.png", alt="")
              .shorts-video__details-info 
                .shorts-video__details-author Энергия высоты
                .shorts-video__details-date 21 июля в 20:20
            .shorts-video__bottom 
              .shorts-video__info 
                .shorts-video__desc Готовим новые приключения в Энергии Высоты! Ждем тебя каждый день на Софийской, 14 ...
                .shorts-video__views 
                  svg(width="16" height="16") 
                    use(xlink:href=`./img/sprite.svg#eye`)
                  span 1 000 000 086
              a(href="#").shorts-video__link
                svg(width=width height=height) 
                  use(xlink:href=`./img/sprite.svg#arrow-forward`)
          .swiper-slide.shorts-video
            picture.shorts-video__img 
              img(src="./img/shorts/vid-02.png", alt="")
            button(type="button").shorts-video__play-btn.btn-play 
              +svg(36, 36, 'play-arrow')
            .shorts-video__details
              picture.shorts-video__details-img 
                img(src="./img/shorts/author.png", alt="")
              .shorts-video__details-info 
                .shorts-video__details-author Энергия высоты
                .shorts-video__details-date 21 июля в 20:20
            .shorts-video__bottom 
              .shorts-video__info 
                .shorts-video__desc Готовим новые приключения в Энергии Высоты! Ждем тебя каждый день на Софийской, 14 ...
                .shorts-video__views 
                  svg(width="16" height="16") 
                    use(xlink:href=`./img/sprite.svg#eye`)
                  span 1 000 000 086
              a(href="#").shorts-video__link
                svg(width=width height=height) 
                  use(xlink:href=`./img/sprite.svg#arrow-forward`)
          .swiper-slide.shorts-video
            picture.shorts-video__img 
              img(src="./img/shorts/vid-03.jpg", alt="")
            button(type="button").shorts-video__play-btn.btn-play 
              +svg(36, 36, 'play-arrow')
            .shorts-video__details
              picture.shorts-video__details-img 
                img(src="./img/shorts/author.png", alt="")
              .shorts-video__details-info 
                .shorts-video__details-author Энергия высоты
                .shorts-video__details-date 21 июля в 20:20
            .shorts-video__bottom 
              .shorts-video__info 
                .shorts-video__desc Готовим новые приключения в Энергии Высоты! Ждем тебя каждый день на Софийской, 14 ...
                .shorts-video__views 
                  svg(width="16" height="16") 
                    use(xlink:href=`./img/sprite.svg#eye`)
                  span 1 000 000 086
              a(href="#").shorts-video__link
                svg() 
                  use(xlink:href=`./img/sprite.svg#arrow-forward`)
      .modal-shorts__controls
        button(type="button" data-slider-prev="shorts-slider").btn-icon.btn-icon_m
          +svg(20, 20, 'arrow-left')
        button(type="button" data-slider-next="shorts-slider").btn-icon.btn-icon_m
         +svg(20, 20, 'arrow-right')